// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul li{
  display: inline;
}

li {
  background-color: #58b4ae;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 8px;
  margin: 8px;

}
